{{> header}} 

<section>
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div>
                    <h1 class="client-h1">Bienvenue 24ème ! </h1>
                    <div class="separator_left"></div>
                    <h2>Aujourd'hui, je veux commander pour : </h2>


                    <div class="list-group">
                        <li class="list-group-item">{{#each data.data.entreprises.[0].employes}}
                            <ul class="m-bottom-10"> <button type="button" class="list-group-item list-group-item-action btn btn-primary text-white"> {{this.name}}
                            </button></ul>
                            {{/each}}                            
                        </li>                   
                    </div>

                
                  </div>
              </div>
          </div>
      </div>
</section>


{{> footer}}


<style>
    .clients-h1 {
        text-align: center;
    }
</style>


 