{{> header}}

<section class="adaptative-div">
  <div class="container" style="flex: 1">
    <div class="row">
      <div class="col-lg">
        <div class="clients-container">
          <h1 class="h1-clients">Bienvenue {{entreprise}} ! </h1>
          <div class="separator_center"></div>
          <h2 class="h2-clients"> &#127835; Aujourd'hui, je veux commander pour &#127790; </h2>
          <form action="/clients" method="POST">
          <div class="list-group border-clients">
            <li class="list-group-item">
              {{#each listEmployee}}
                <ul class="client-ul">
                    <input type="submit" class="btn-clients text-white selection-nom-employee" name="{{this.id_client}}" value="{{this.nom}}"/>
                </ul>

              {{/each}}

            </li>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

{{> footer}}
