<section>
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div>
                      <h1>Merci, votre commande a bien été enregistrée.</h1>
                      <button class="btn btn-primary btn-next" onclick="window.location = '/clients1'">Commandez pour une autre personne?</button>
                </div>

              </div>
          </div>
      </div>
</section>