{{>header}}

<section>
      <div class="container" style="height: 77.5vh">
          <div class="row">
              <div class="col-md-6">
                  <div>
                      <h1 style="margin-top: 180px">Merci, votre commande a bien été enregistrée.</h1>

<!--
                      <button class="btn btn-primary B1" onclick="window.location = '/clients1'">Commandez pour une autre personne?</button>
-->
                    <a href='{{prefix}}/clients'>

                      <input class="btn btn-primary B1" type="submit" value="Commander pour une autre personne ?" style="margin-top: 200px;">
                    </a>
                </div>

              </div>
          </div>
      </div>
</section>

{{>footer}}






