{{> header}}

<section style="align-items: center;">
    <h2 class="text-center texte-intro">A quelle heure souhaites-tu récupérer ta commande ? ⏰</h2>
    <div class="container row text-center">
        <div class="sauver" id="" style="width: 160px;">
            <ul>
                
                <li class=" btn btn-primary time-item m-bottom-20" data-value="12h00">12h00</li>
                <li class=" btn btn-primary time-item m-bottom-20" data-value="12h30">12h30</li>
                <li class=" btn btn-primary time-item m-bottom-20" data-value="13h00">13h00</li>
                <li class=" btn btn-primary time-item m-bottom-20" data-value="13h30">13h30</li>
                <li class="  btn btn-primary time-item m-bottom-20" data-value="14h00">14h00</li>
            </ul>
        
        
    </div>

    <div class="gif-container">
    <img class="cook-gif" src="/assets/images/cook.gif">
    
    </div class="restaurant-container">
    <div> <a href='/confirmation'>
    <input type="submit" class="btn btn-primary btn-lg btn-valider m-bottom-70" value="Valider"/> </a> </div>
</section>

<script>

    const allButton = document.querySelectorAll('.time-item');
    allButton.forEach(button => {
        button.addEventListener('click', (event) => {
            const buttonText = event.target.textContent;
            console.log(buttonText);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/heurelivraison');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ buttonText }));
        });
    });

</script>

{{> footer}}
