{{> header}}

<section>
    <h2 class="text-center texte-intro">A quelle heure souhaites-tu récupérer ta commande ? ⏰</h2>
    <div class="container-time">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button name="submit" class="btn btn-primary btn-lg B1">12h00</button>
                <button name="submit" class="btn btn-primary btn-lg B1">13h00</button>
                <button name="submit" class="btn btn-primary btn-lg B1">14h00</button>
            </div>
            <div class="col-md-6 text-center">
                <button name="submit" class="btn btn-primary btn-lg B1">12h30</button>
                <button name="submit" class="btn btn-primary btn-lg B1">13h30</button>
                <button name="submit" class="btn btn-primary btn-lg B1">14h30</button>
            </div>
        </div>
    </div>
</section>

{{> footer}}

<style>


</style>