<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Ticket Champion</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="cube.ico">

  <!--Google Font link-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/slick-theme.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/fonticons.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/bootsnav.css">


  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css" />

  <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>


<body data-spy="scroll" data-target=".navbar-collapse">


<!-- Preloader -->
<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
    </div>
  </div>
</div><!--End off Preloader -->


<div class="culmn">
  <!--Home page style-->


  <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">


    <div class="container">
      <a class="navbar-brand" href="#brand">

        <a href="/" class="logo-link">
          <img src="assets/images/logo.png" alt="Logo" height="60" width="120" style="margin-top: 10px;">
        </a>

      </a>
    </div>
    <!-- End Header Navigation -->

  </nav>


  <!--Home Sections-->

  <section id="hello" class="home bg-mega">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="main_home">
          <div class="home_text">

            <h1 class="text-white">Bienvenue,<br /> Commandez vos plats préférés !</h1>
          </div>



          <!--<div class="dropdown home_btns m-top-40">
            <button class="btn btn-primary dropdown-toggle m-top-20 m-r-15 color_white btn-font" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients </button>


            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <ul class="list-group list-group-flush"></ul>
              <li class="list-group list-group-flush">
                <ul class="">
                  <a href='/clients1'>
                    <input class="dropdown-item btn-droulant btn-font-20 text-center" type="submit" id="monBouton" value="24eme"/>
                  </a>
                </ul>
                <ul><div class="separator_milieu"></div> </ul>
                <ul> <a href="" class="dropdown-item btn-droulant btn-font-20" id="marcoBouton">MARCOPOLETTE</a></ul>
              </li>
              </ul>
            </div>-->

          <a href='/selectionClientPage'>
            <input class="btn btn-primary m-top-20 m-r-15 color_white btn-font" type="submit" value="Clients" style="margin-top: 200px;">
          </a>
          <a href='/restaurant'>
            <input class="btn btn-primary m-top-20 m-r-15 color_white btn-font" type="submit" value="Restaurant" style="margin-top: 200px;">
          </a>
            <!--<a onclick="window.location = '/restaurant'" class="btn btn-primary m-top-20 btn-font"> Restaurant </a>-->




          </div>
        </div>
      </div><!--End off row-->
    </div><!--End off container -->
  </section> <!--End off Home Sections-->


  <!--About Sections-->
  <section id="about" class="about roomy-100">
    <div class="container">
      <div class="row">
        <div class="main_about">
          <div class="col-md-6">
            <div class="about_content">
              <h2>ABOUT US</h2>
              <div class="separator_left"></div>

              <p>Bienvenue sur notre application web de commande de repas en ligne !
                Nous sommes une équipe passionnée par la nourriture et la technologie, et nous avons créé cette plateforme pour simplifier
                votre expérience de commande de repas. Avec notre application, vous pouvez parcourir le menu de réstaurant Champion,
                passer des commandes, personnaliser vos plats et planifier la date de récupération de votre commande pour éviter le temps d'attentes.
                Rejoignez-nous pour découvrir une nouvelle façon pratique de commander vos repas préférés en ligne ! </p>
            </div>
          </div>

        </div>
      </div><!--End off row-->
    </div><!--End off container -->
    <br />
    <br />
    <br />
    <br />
    <hr />
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="about_bottom_content">
          <div class="col-md-4">
            <div class="about_bottom_item m-top-20">
              <div class="ab_head">
                <div class="ab_head_icon">
                  <i class="icofont icofont-fire-burn"></i>
                </div>
                <h6 class="m-top-20"> Valeur 1</h6>
              </div>
              <p class="m-top-20">Description</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_bottom_item m-top-20">
              <div class="ab_head">
                <div class="ab_head_icon">
                  <i class="icofont icofont-speech-comments"></i>
                </div>
                <!-- End Side Menu -->

            </nav>


            <!--Home Sections-->

            <section id="hello" class="home bg-mega">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home">
                            <div class="home_text">

                                <h1 class="text-white">Bienvenue,<br /> Commandez vos plats préférés !</h1>
                            </div>



                            <div class="dropdown home_btns m-top-40">
                                <button class="btn btn-primary dropdown-toggle m-top-20 m-r-15 color_white btn-font" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <ul class="list-group list-group-flush"></ul>
                                        <li class="list-group list-group-flush"> 
                                            <ul class="">
                                            <a onclick="window.location = '/clients'" class="dropdown-item btn-droulant btn-font-20" id="monBouton"> 24EME </a>
                                             </ul>
                                            <ul><div class="separator_milieu"></div> </ul> 
                                            <ul> <a href="" class="dropdown-item btn-droulant btn-font-20" id="marcoBouton">MARCOPOLETTE</a></ul>
                                         </li>
                                    </ul>
                            </div>

                            <a onclick="window.location = '/restaurant'" class="btn btn-primary m-top-20 btn-font"> Restaurant </a>
                            
                           

    
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->

            <script>
  const monBouton = document.querySelector('#monBouton');
  monBouton.addEventListener('click', () => {
    const texteSurBouton = monBouton.textContent;
    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({ texteSurBouton }));
  });
</script>



            <!--About Sections-->
            <section id="about" class="about roomy-100">
                <div class="container">
                    <div class="row">
                        <div class="main_about">
                            <div class="col-md-6">
                                <div class="about_content">
                                    <h2>ABOUT US</h2>
                                    <div class="separator_left"></div>

                                    <p>Bienvenue sur notre application web de commande de repas en ligne ! 
                                        Nous sommes une équipe passionnée par la nourriture et la technologie, et nous avons créé cette plateforme pour simplifier 
                                        votre expérience de commande de repas. Avec notre application, vous pouvez parcourir le menu de réstaurant Champion, 
                                        passer des commandes, personnaliser vos plats et planifier la date de récupération de votre commande pour éviter le temps d'attentes.
                                        Rejoignez-nous pour découvrir une nouvelle façon pratique de commander vos repas préférés en ligne ! </p>
                                </div>
                            </div>
                          
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
                <br />
                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
                <div class="container">
                    <div class="row">
                        <div class="about_bottom_content">
                            <div class="col-md-4">
                                <div class="about_bottom_item m-top-20">
                                    <div class="ab_head">
                                        <div class="ab_head_icon">
                                            <i class="icofont icofont-fire-burn"></i>
                                        </div>
                                        <h6 class="m-top-20"> Valeur 1</h6>
                                    </div>
                                    <p class="m-top-20">Description</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about_bottom_item m-top-20">
                                    <div class="ab_head">
                                        <div class="ab_head_icon">
                                            <i class="icofont icofont-speech-comments"></i>
                                        </div>
                                        <h6 class="m-top-20">Valeur 2</h6>
                                    </div>
                                    <p class="m-top-20">Description</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about_bottom_item m-top-20">
                                    <div class="ab_head">
                                        <div class="ab_head_icon">
                                            <i class="icofont icofont-heart"></i>
                                        </div>
                                        <h6 class="m-top-20">Valeur 3</h6>
                                    </div>
                                    <p class="m-top-20">Description </p>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off About section -->


            <!--Video section-->
            <section id="video" class="video">
                <div class="overlay"></div>
                <div class="main_video roomy-100 m-top-100 m-bottom-100 text-center">
                    <div class="video_text text-center">
                        <a href="https://www.facebook.com/TresTresBon/videos/bouiboui-champion/999600510981651/" class="video-link"><span class="fa fa-play"></span></a>
                    </div>
                </div>
                <h6 class="m-top-20">Valeur 3</h6>
              </div>
              <p class="m-top-20">Description </p>
            </div>
          </div>
        </div>
      </div><!--End off row-->
    </div><!--End off container -->
  </section> <!--End off About section -->


  <!--Video section-->
  <section id="video" class="video">
    <div class="overlay"></div>
    <div class="main_video roomy-100 m-top-100 m-bottom-100 text-center">
      <div class="video_text text-center">
        <a href="https://www.facebook.com/TresTresBon/videos/bouiboui-champion/999600510981651/" class="video-link"><span class="fa fa-play"></span></a>
      </div>
    </div>
  </section><!--End off video section -->


  <!--client brand section-->
  <section id="cbrand" class="cbrand">
    <div class="container">
      <div class="row">
        <div class="main_cbrand text-center roomy-100">
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="cbrand_item m-bottom-10">
              <a href=""><img src="assets/images/clients/1.jpg" alt="" /></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="cbrand_item m-bottom-10">
              <a href=""><img src="assets/images/clients/2.jpg" alt="" /></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="cbrand_item m-bottom-10">
              <a href=""><img src="assets/images/logo.png" alt="Image" height="150" width="500" /></a>
            </div>
          </div>

        </div>
      </div><!-- End off row -->
    </div><!-- End off container -->
  </section><!-- End off Cbrand section -->



  <!--Maps Section-->
  <div class="main_maps text-center fix">
    <div class="overlay"></div>
    <div class="maps_text">
      <h3 class="text-white" onclick="showmap()">FIND US ON THE MAP <i class="fa fa-angle-down"></i></h3>
      <div id="map_canvas" class="mapheight"></div>
    </div>
  </div><!-- End off Maps Section-->



  <!--Contact Us Section-->
  <section id="contact" class="contact bg-mega fix">
    <div class="container">
      <div class="row">
        <div class="main_contact roomy-100 text-white">
          <div class="col-md-4">
            <div class="rage_widget">
              <div class="widget_head">
                <h3 class="text-white">Ticket Champion</h3>
                <div class="separator_small"></div>
              </div>
              <p>description </p>

              <div class="widget_socail m-top-30">
                <ul class="list-inline">
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                  <li><a href=""><i class="fa fa-vimeo"></i></a></li>
                  <li><a href=""><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8 sm-m-top-30">
            <form class="" action="subcribe.php">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input id="first_name" name="first_name" type="text" placeholder="Name" class="form-control" required="">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group text-center">
                    <a href="" class="btn btn-primary">SEND MESSAGE</a>
                  </div>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div><!--End off row -->
    </div><!--End off container -->
  </section><!--End off Contact Section-->



  {{> footer}}


        