{{> header}}

<section>
    <div class="container plat-parent">
    <ul>
        <div class="plat-enfant">
            <li> {{#each data.data.restaurants.[0].plats}}
                <img class="image-de-plat" src={{this.img}}>
                <h4 class="text-center nom-du-plat">{{this.nom}} - {{this.prix}}€</h4>
                <span class="liste-ingredients">{{this.ingredients}}</span>
                <ul> <button type="button" class="btn btn-primary btn-lg B1 bouton-ajout">Ajouter a la commande</button></ul>
            {{/each}}
            </li>
        </div>
    </ul>
    </div>
</section>


<style>

    .nom-du-plat {
        padding-top: 10px;
    }

    .plat-parent {
        border: none;
    }

    .plat-enfant {
        padding-top: 60px;
        text-align: center;
    }

    .liste-ingredients {
        padding-bottom: 10px;
    }

    .bouton-ajout {
        margin-top: 20px;
    }

    .image-de-plat {
        height: 400px;
        width: 400px;
    }

</style>

{{> footer}}
