{{> header}} 

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1>Liste des plats du restaurant Champion:</h1>
                    <div class="separator_left"></div>

<ul class="list-group list-group-flush">
  <li class="list-group-item"> {{#each data.data.plats_principaux}}
    <ul> <button onclick="window.location.href = 'http://localhost:3000/supplements';" type="button" class="btn btn-primary btn-lg btn-block B1">{{this.nom}} </button></ul>
    

                    {{/each}}

  </li>
  
</ul>

                </div>
            </div>
        </div>
    </div>
</section>

{{> footer}}
