{{> header}} 

<section>
      <div class="container">
          <div class="row">
              <div class="restaurant-container">
                      <h1 class="h1-restaurant">Bienvenue Champion &#128525;!</h1>
                      <div class="separator_restaurant m-bottom-20"></div> 	
                      <button type="button" class="btn-restaurant  text-white" onclick="window.location ='/historique'"> Historique </button>
                       <h2 class="h2-clients m-top-80"> &#129369; Aujourd'hui, Vous devez préparer les commandes suivantes : </h2>      
              </div>
          </div>
      </div>
</section>


    <table>
      <thead>
        <tr>
          <th>Entreprise</th>
          <th>Nombre de commandes</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.entreprise}}</td>
          <td>{{this.nombreCommandes}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </body>

{{> footer}}