{{> header}} 

<section class="adaptative-div">
      <div class="container" style="flex: 1;">
          <div class="row">
              <div class="col-lg">
                  <div class="clients-container">
                    <h1 class="h1-clients">Les notes à régler en mai 2023 </h1>
                    <div class="separator_center"></div>
                  </div>
              </div>

            <div class="row">
                {{#each data}}
              <div class="col-lg">
                  <div class="clients-container">
                    <button class="btn-historique">
                        <span class="d-flex justify-around note-wrapper">
                            <span>{{this.entreprise}}</span>
                            <span class="note-totale"> {{this.sumCommandes}}€</span>
                        </span>
                    </button>
                    {{/each}}

                  </div>
              </div>
          </div>

      </div>
</section>
{{> footer}}
