{{> header}} 

<section class="adaptative-div">
      <div class="container" style="flex: 1;">
          <div class="row">
              <div class="col-lg">
                  <div class="clients-container">
                    <h1 class="h1-clients">Les notes à régler en mai 2023 </h1>
                    <div class="separator_center"></div>
                  </div>
              </div>

            <div class="row">
                {{#each data}}
              <div class="col-lg">
                  <div class="clients-container">
                <a href="/facture/{{this.entreprise}}">
                    <button class="btn-historique">
                        <div class="note-wrapper">
                            <div class="note-entreprise">{{this.entreprise}}</div>
                            <div class="vertical-separator"></div>
                            <div class="note-totale"> {{this.sumCommandes}}€</div>
                        </div>
                    </button>
                </a>
                    {{/each}}
                  </div>
              </div>
          </div>

      </div>
</section>
{{> footer}}
