{{> header}} 

<section>
      <div class="container">
          <div class="row">
              <div class="restaurant-container">
                      <h1 class="h1-restaurant">Bienvenue Champion &#128525;!</h1>
                      <div class="separator_restaurant m-bottom-20"></div> 	
                      <button type="button" class="btn-restaurant  text-white"> Historique </button>
                       <h2 class="h2-clients m-top-80"> &#129369; Aujourd'hui, Vous devez préparer les commandes suivantes : </h2> 
                       
              </div>
          </div>
      </div>
</section>

{{> footer}}