{{>header}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/champion">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Selection entreprise</li>
    </ol>
</nav>

<section class="section-client">
  <div class="container">
  <div class="row image-container-client">
    <div class="left-image-client col-sm-12 col-md-6">
      <form action="/champion/selectionClientPage" method="POST">
      {{!-- <a href='/clients' name="24EME" id="monBouton1"> --}}
        <input type="image"  name="24EME" src="/champion/assets/images/24eme_logo.svg"/>
      
    </div>
    <div class="right-image-client col-sm-12 col-md-6">
      {{!-- <a href="/clients" name="Marcopolette" id="monBouton2"> --}}
        <input type="image" name="Marcopolette" src="/champion/assets/images/marcopolette_logo.png"> 
      
    </div>
  </div>
  </form>
  </div>
</section>  

{{>footer}}
