{{>header}}

<section>
  <div class="image-container-client">
    <div class="left-image-client">
      <a href='/clients1'>
        <img src="/assets/images/24eme_logo.svg" alt="Image 1">
      </a>
    </div>
    <div class="right-image-client">
      <a href="#">
        <img src="/assets/images/marcopolette_logo.png" alt="Image 2">
      </a>
    </div>
  </div>
</section>

{{>footer}}
